.container {
  width: 30em;
  height: 15em;
  border: 2px solid black;
  border-radius: 1em;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
}
