.container {
  width: 100%;
  background-color: #385461;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
}
span {
  color: #c22311;
}

.title {
  font-size: 2rem;
  text-align: center;
  color: white;
}
